/* this style maintained by https://github.com/MapoMagpie/firefox-compact-ui */
:root {
  --global-height: 22px !important;
  --url-container-width: 250px !important;
  --url-container-max-width: 30vw !important;
  --url-container-max-height: 22px !important;
  --urlbar-min-height: 22px !important;
  --tab-max-width-c: 120px !important;
  --tab-max-width-s: 210px !important;
  --tab-min-height: 22px !important;
  --tab-max-height: 22px !important;
  --tab-block-margin: 0px !important;
}

/* 隐藏元素 */
hbox.titlebar-spacer,
#toolbar-menubar[inactive],
/* right part of urlbar buttons #page-action-buttons, */
/* urlbar button */ #contextual-feature-recommendation,
/* urlbar button #userContext-icons, */
/* urlbar button */ #reader-mode-button,
/* urlbar button */ #picture-in-picture-button,
/* urlbar button */ #translations-button,
/* urlbar button */ #shopping-sidebar-button,
/* urlbar button */ /* #urlbar-zoom-button, */
/* urlbar button */ /* #pageActionButton, */
/* urlbar button bookmark */ #star-button-box,

/* close button */ .titlebar-buttonbox-container,
/* close button wrapper */ .titlebar-spacer,

/* tab    button close          .tab-close-button, */
/* tabbar button new tab     #tabs-newtab-button, */
/* navigator button back     #navigator-toolbox #nav-bar #nav-bar-customization-target #back-button,*/
/* navigator button forward  #navigator-toolbox #nav-bar #nav-bar-customization-target #forward-button,*/
/* 地址栏搜索图标 #urlbar-container:not(:hover) */ #identity-box,
/* 地址栏安全图标 #urlbar-container:not(:hover) */ #tracking-protection-icon-container,
/* 地址栏背景元素 */ #urlbar-background {
  display: none !important;
}

#navigator-toolbox {
  display: flex !important;
  justify-content: start !important;
  flex-direction: row-reverse !important;
  flex-wrap: wrap !important;

  border-radius: 0 !important;
  font-family: "Unifont-JP", "Font Awesome 6 Free", Sans-serif !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;

  border-top-width: 0 !important;
  /* border-bottom-width: 2px !important; */
  /* border-color: #3e4451 !important;; */
}

#navigator-toolbox > #titlebar {
  -moz-appearance: unset !important;
  margin-left: 1px !important;
  flex: 1 !important;
  height: var(--global-height) !important;
}

.tabbrowser-tab:is([fadein]) {
  max-width: var(--tab-max-width-c) !important;
}

.tabbrowser-tab:is([fadein]):is([selected]) {
  max-width: var(--tab-max-width-s) !important;
}

.tab-background {
  height: var(--global-height) !important;
  border-radius: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
}

.tab-content {
  padding: 0 5px !important;
  height: var(--global-height) !important;
}

/* the specific size is not important, it just needs to be a whole pixel to aid in
   the pixel perfect text rendering */
.tabbrowser-tab .tab-icon-stack {
  width: 12px !important;
  padding-right: 20px !important;
}

#pinned-tabs-container[orient="horizontal"] {
  margin-inline-end: 0px !important;
}

/*#searchbar {*/

#urlbar,
.urlbar-background {
  border-radius: 0 !important;
  font-size: 16px !important;
  letter-spacing: 0px !important;
  height: 22px !important;
}


/*tested*/
/*.urlbar-background {
  width: var(--url-container-width) !important;
}

.urlbar-background:focus-within {
  width: var(--url-max-container-width) !important;
}*/
/*.urlbar-background:focus-within {
border:0 !important;
padding:0 !important;
margin:0 !important;
}*/

#nav-bar,
#nav-bar-customization-target,
#urlbar-container {
  margin: 0px !important;
  padding: 0px !important;
  height: var(--global-height) !important;
  border-width: 0 !important;
}

#urlbar-container {
  width: var(--url-container-width) !important;
  transition: width 400ms !important;
  border-radius: 0 !important;
}
#urlbar-container:hover:focus-within,
#urlbar-container:focus-within {
  width: var(--url-container-max-width) !important;
  transition: width 400ms !important;
  border: 0 !important;
}
#urlbar > vbox.urlbarView {
  display: none !important;
  background-color: #37363ac9 !important;
}
#urlbar-container:hover:focus-within > #urlbar > vbox.urlbarView {
  display: block !important;
}

#PersonalToolbar {
  width: 28px !important;
  height: 22px !important;
  padding-inline: 0 !important;
  margin-right: 1px !important;
}

menuitem.bookmark-item {
  min-width: 20em !important;
  max-width: 20em !important;
}

#PlacesChevron {
  list-style-image: url("chrome://browser/skin/bookmark.svg") !important;
}

@-moz-document url-prefix(chrome://browser/content/browser.xhtml)
{
  #tabbrowser-tabs:is([orient="vertical"][expanded], [orient="horizontal"])
    .tabbrowser-tab:not([pinned]):not([crashed]):is(
      [soundplaying],
      [muted],
      [activemedia-blocked]
    ) {
    .tab-content .tab-icon-image {
      display: none;
    }
    .tab-audio-button {
      margin-top: -4px;
    }
  }
}

/* place navigator bar to bottom */
 /*#navigator-toolbox {
  order: 2;
}*/

/*uber verbose to make sure everything that needs to get fixed gets fixed*/

/* back button */
#back-button {
  padding: 0 !important;
}

#back-button .toolbarbutton-icon {
  display: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
  height: 100% !important;
  min-height: 100% !important;
}

#back-button .toolbarbutton-text {
  padding: 0 !important;
}

 #back-button .toolbarbutton-text::before {
   content: "<";
   padding: 0 4px !important;
   letter-spacing: 0 !important;
   font-size: 16px !important;
 }

#back-button .toolbarbutton-text {
   display: inline-block !important;
  padding-top: 0 !important;
  border-radius: 0 !important;
  height: 100% !important;
  min-height: 100% !important;
}

/* forward button */
#forward-button {
  padding: 0 !important;
}

#forward-button .toolbarbutton-icon {
  display: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
  height: 100% !important;
  min-height: 100% !important;
}

#forward-button .toolbarbutton-text {
  padding: 0 !important;
}

 #forward-button .toolbarbutton-text::before {
   content: ">";
   padding: 0 4px !important;
   letter-spacing: 0 !important;
   font-size: 16px !important;
   border-radius: 0 !important;
 }

#forward-button .toolbarbutton-text {
   display: inline-block !important;
  padding-top: 0 !important;
  border-radius: 0 !important;
  height: 100% !important;
  min-height: 100% !important;
}

/* download button */
#downloads-button {
  padding: 0 !important;
  height: 100% !important;
  min-height: 100% !important;
}

#downloads-button .toolbarbutton-badge-stack {
  display: inline-block !important;
  padding: 0 !important;
  border-radius: 0 !important;
  height: 100% !important;
  min-height: 100% !important;
}

#downloads-button .toolbarbutton-badge-stack::before {
  content: "dwn";
  padding: 0 4px !important;
  font-size: 16px !important;
  border-radius: 0 !important;
}

#downloads-indicator-anchor,
#downloads-indicator-progress-outer,
#downloads-indicator-start-box,
#downloads-indicator-finish-box {
  display:none !important;
}

/* extensions button */
#unified-extensions-button {
  padding: 0 !important;
}

#unified-extensions-button .toolbarbutton-icon {
  display: none;
  padding: 0 !important;
  border-radius: 0 !important;
  height: 100% !important;
  min-height: 100% !important;
}

#unified-extensions-button .toolbarbutton-text::before {
  content: "ext";
  padding: 0 4px !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;
  border-radius: 0 !important;
}

#unified-extensions-button .toolbarbutton-text {
  display: inline-block !important;
  padding: 0 !important;
  border-radius: 0 !important;
  height: 100% !important;
  min-height: 100% !important;
}

/* menu button */
#PanelUI-button {
  padding: 0 !important;
}

#PanelUI-menu-button {
  padding: 0 !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack {
  padding: 0 !important;
  height: 100% !important;
  min-height: 100% !important;
  border-radius: 0 !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack::before {
  content: "mnu";
  padding: 0 4px !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;
}

#PanelUI-menu-button .toolbarbutton-icon {
  display:none !important;
}

/* tab close button */
/* .tab-stack .tab-background has some minor styling, just for future reference */
/* the below is an image with padding, but no singular parent element */
.tab-close-button.close-icon {
  /*padding: 0 !important;*/
  /*padding: 4px;*/
  border-radius: 0 !important;
  /*height: 100% !important;
  min-height: 100% !important;*/
}

/* new tab button */
#tabs-newtab-button {
  padding: 0 !important;
}

#tabs-newtab-button .toolbarbutton-icon {
  display: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
  height: 100% !important;
  min-height: 100% !important;
}

#tabs-newtab-button .toolbarbutton-text::before {
  content: "+";
  padding: 0 4px !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;
}

#tabs-newtab-button .toolbarbutton-text {
  display: inline-block !important;
  padding: 0 !important;
  border-radius: 0 !important;
  height: 100% !important;
  min-height: 100% !important;
}

/* list all tabs button */
#alltabs-button {
  padding: 0 !important;
}

#alltabs-button .toolbarbutton-badge-stack {
  padding: 0 !important;
  border-radius: 0 !important;
  height: 100% !important;
  min-height: 100% !important;
}

#alltabs-button .toolbarbutton-badge-stack::before {
  content: "v";
  padding: 0 4px !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;
}

#alltabs-button .toolbarbutton-icon {
  display: none !important;
}

/* tooltips */
.cui-widget-panel.panel-no-padding {
  margin-top: 0px !important;
}
/* not sure i can do this for extensions because it opens a shadow root in the button */

/* colours */
#nav-bar {
  background-color: #3e4451 !important;
}

#urlbar-container{
  background-color: #282c34 !important;
}
